<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JBerry | Login</title>
    <style>
        form {
            margin: 10% 0 0 0;
            transform: scale(1.5);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        }

        form>input {
            margin: 0 0 1% 0;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        h3 {
            color: red;
        }
    </style>
</head>

<body>
    <center>
        {% if message %}
        <h3>{{message}}</h3>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username" required><br>
            <input type="password" name="password" required><br>
            <input type="submit" value="Login"><br><br>
            <a href="{% url 'register' %}">If You don't Have account, Register Here</a>
        </form>
    </center>
</body>

</html>