{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>mSoft | Purchase Order</title>
{% endblock%}

{% block content %}
  <main id="main" class="main">

    <div class="pagetitle col-md-12">
      <div class="col-md-6 c_pageinfo">
        <h1>Purchase Order</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item active">Purchase Order</li>
          </ol>
        </nav>
      </div>
      <div class="col-md-6 c_btn">
        
      </div>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-8">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="border-bottom: 1px solid;">Purchase Order</h5>
              <br>
              <form>

              </form><!-- End Horizontal Form -->
            </div>
          </div>
        </div>
        <div class="col-lg-4" >
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title" style="border-bottom: 1px solid;">Order Status</h5>
              <form>

              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">

        </div>
      </div>
      <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-lg-4" >
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title" style="border-bottom: 1px solid;">Transection</h5>
              <form>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button type="submit" class="btn btn-success">Update</button>
                  <button type="reset" class="btn btn-warning">Clear</button>
                  <button type="reset" class="btn btn-danger">Exit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->

  {% endblock content %}